<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>
<% if(page.comments && theme.utterances.enabled){ %>
    <script src="https://utteranc.es/client.js"
        repo="<%= theme.utterances.repo %>"
        issue-term="<%= theme.utterances['issue-term'] || 'pathname' %>"
        theme="<%= theme.utterances.theme || 'photon-dark' %>"
        crossorigin="anonymous"
        async>
    </script>
<% } %>
